body {
	background-image: url("../img/p2.jpg");
}
h1{
	text-align: center;
	color: darkblue;
}
p{
	color: darkgrey;
	text-transform: uppercase;
}
ul{
	list-style-type: square;
	color: green;
}
ol{
	color: red;
}
.map{
	height: 450px;
	width: 600px;
}
.red{
 color: red;
}
h2{
	display: inline;
}
/* this one is inline css  */
.inline{
	display: inline;
	color: green;
}
a{
	font-size: 30px;
	
}